html,body{
	background: #d9e6e5;
}

.list-group-answers{
	font-size: 1.3em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.question, .pager{
	font-size: 1.2em;
}

.pager-btn{;
	border: 1px solid #ccc !important;
}

.question-panel{
	margin-top: 2em
}

.center{
	text-align: center
}

.panel-heading{
	font-size: 1.2em;
	text-transform: uppercase;
	background: #f28c04 !important;
	color: white !important;
	border-bottom: 3px solid #d47100 !important;
}

.panel{
	border: none;
	border-bottom: 4px solid #c7c7c7 !important;
}

.alert {
	margin-bottom: -26px;
	margin-top: -1px;
	padding: 2px;
	font-size: 15px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.alert-danger {
	border-color: #ebccd1;
}